include CHANGES
include LICENSE
include README.md

include examples/oclminify.cmake \
        examples/cmake/CMakeLists.txt \
        examples/cmake/kernel1.cl \
        examples/cmake/kernel2.cl \
        examples/cmake/main.cpp \
        examples/compress/addone.cl \
        examples/compress/CMakeLists.txt \
        examples/compress/main.cpp \
        examples/minimal/build.sh \
        examples/minimal/kernel.cl \
        examples/minimal/main.c
